# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# .gitignore
.env
.env.*
assets/env.*
!assets/env.template

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
#.vscode/  # uncomment to ignore local launch/tasks settings

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins*
.packages
.pub/
build/
flutter_*.png

# iOS related
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated*.xcconfig
ios/Flutter/flutter_export_environment*.sh
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Runner.xcworkspace/
ios/.generated/
ios/.idea/
ios/.DS_Store
ios/Runner/*.ipa
ios/Runner/Runner*.plist
ios/Runner/Runner.entitlements
ios_backup*/
lib_backup/

# Xcode & macOS
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/
*.xcconfig.backup
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Archives
*.xcarchive

# Local backup or snapshots
*.zip
*.bak
*.orig

# Build config exports
mybuildsettings_snapshot.txt
tbp_files.zip
DartFiles.zip
.flutter-plugins-dependencies
ios/Runner.xcodeproj/project.pbxproj
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
scripts/pubspec.lock
scripts/pubspec.lock
